{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h1 id="profile_user">{{ profile_user }}</h1>
        <div>Follwers:</div>
        <div>Following:</div>
        {% if profile_user != user.username %}
        <div><button type ="button" id="follow_button"></button></div>
        {% endif %}
    </div>

    <div id="profile">
    </div>
{% endblock %}

{% block script %}
    <script>const curr_user = "{{user}}"</script>
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}